/* line 1, _plugins.nouislider.min.css */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, _plugins.nouislider.min.css */
.noUi-target {
  position: relative; }

/* line 1, _plugins.nouislider.min.css */
.noUi-base, .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

/* line 1, _plugins.nouislider.min.css */
.noUi-connects {
  overflow: hidden;
  z-index: 0; }

/* line 1, _plugins.nouislider.min.css */
.noUi-connect, .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat; }

/* line 1, _plugins.nouislider.min.css */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto; }

/* line 1, _plugins.nouislider.min.css */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0; }

/* line 1, _plugins.nouislider.min.css */
.noUi-horizontal .noUi-origin {
  height: 0; }

/* line 1, _plugins.nouislider.min.css */
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

/* line 1, _plugins.nouislider.min.css */
.noUi-touch-area {
  height: 100%;
  width: 100%; }

/* line 1, _plugins.nouislider.min.css */
.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
  -webkit-transition: transform .3s;
  transition: transform .3s; }

/* line 1, _plugins.nouislider.min.css */
.noUi-state-drag * {
  cursor: inherit !important; }

/* line 1, _plugins.nouislider.min.css */
.noUi-horizontal {
  height: 18px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-vertical {
  width: 18px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto; }

/* line 1, _plugins.nouislider.min.css */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB; }

/* line 1, _plugins.nouislider.min.css */
.noUi-connects {
  border-radius: 3px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-connect {
  background: #3FB8AF; }

/* line 1, _plugins.nouislider.min.css */
.noUi-draggable {
  cursor: ew-resize; }

/* line 1, _plugins.nouislider.min.css */
.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

/* line 1, _plugins.nouislider.min.css */
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB; }

/* line 1, _plugins.nouislider.min.css */
.noUi-active {
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB; }

/* line 1, _plugins.nouislider.min.css */
.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-handle:after {
  left: 17px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-vertical .noUi-handle:after {
  top: 17px; }

/* line 1, _plugins.nouislider.min.css */
[disabled] .noUi-connect {
  background: #B8B8B8; }

/* line 1, _plugins.nouislider.min.css */
[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed; }

/* line 1, _plugins.nouislider.min.css */
.noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, _plugins.nouislider.min.css */
.noUi-pips {
  position: absolute;
  color: #999; }

/* line 1, _plugins.nouislider.min.css */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

/* line 1, _plugins.nouislider.min.css */
.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-marker {
  position: absolute;
  background: #CCC; }

/* line 1, _plugins.nouislider.min.css */
.noUi-marker-sub {
  background: #AAA; }

/* line 1, _plugins.nouislider.min.css */
.noUi-marker-large {
  background: #AAA; }

/* line 1, _plugins.nouislider.min.css */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

/* line 1, _plugins.nouislider.min.css */
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

/* line 1, _plugins.nouislider.min.css */
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

/* line 1, _plugins.nouislider.min.css */
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

/* line 1, _plugins.nouislider.min.css */
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

/* line 1, _plugins.nouislider.min.css */
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap; }

/* line 1, _plugins.nouislider.min.css */
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

/* line 1, _plugins.nouislider.min.css */
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

/* line 1, _plugins.nouislider.min.css */
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px; }

/* line 1, _plugins.nouislider.min.css */
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px; }

/* line 1, _elements.collection.scss */
.collection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-template-areas: "content"; }
  /* line 6, _elements.collection.scss */
  .collection__content {
    grid-area: content;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 20px; }
  /* line 13, _elements.collection.scss */
  .collection__sidebar {
    grid-area: sidebar;
    min-width: 0; }
  /* line 17, _elements.collection.scss */
  .collection__subcollections {
    position: relative;
    z-index: 1; }
  @media (min-width: 1025px) {
    /* line 21, _elements.collection.scss */
    .collection__filter {
      position: relative;
      z-index: 2; } }
  /* line 27, _elements.collection.scss */
  .collection__products {
    position: relative;
    z-index: 1; }
    /* line 30, _elements.collection.scss */
    .collection__products .products-grid {
      transition: opacity 0.2s ease; }
  /* line 34, _elements.collection.scss */
  .collection__paginate {
    margin: 20px 0 0; }
  /* line 37, _elements.collection.scss */
  .collection__item {
    display: flex;
    flex-direction: column;
    gap: 20px; }
  /* line 42, _elements.collection.scss */
  .collection.with-sidebar {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar content";
    gap: 20px; }
    @media (max-width: 1024px) {
      /* line 42, _elements.collection.scss */
      .collection.with-sidebar {
        grid-template-columns: 1fr;
        grid-template-areas: "content" "sidebar";
        gap: 0; } }
    @media (min-width: 1200px) {
      /* line 52, _elements.collection.scss */
      .collection.with-sidebar .products-grid {
        --products-grid-items: 4; } }
  /* line 59, _elements.collection.scss */
  .collection__order {
    display: grid;
    justify-content: space-between;
    grid-template-columns: min-content max-content;
    gap: 10px; }
    @media (max-width: 575px) {
      /* line 59, _elements.collection.scss */
      .collection__order {
        grid-template-columns: 1fr 1fr; } }
  /* line 68, _elements.collection.scss */
  .collection__filter-buttons {
    display: flex;
    gap: 5px; }
    @media (min-width: 1025px) {
      /* line 68, _elements.collection.scss */
      .collection__filter-buttons {
        display: none; } }
  /* line 75, _elements.collection.scss */
  .collection__loader {
    position: absolute;
    z-index: 20;
    top: 80px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease; }
    /* line 87, _elements.collection.scss */
    .collection__loader-spinner {
      width: 40px;
      height: 40px;
      border: 4px solid #f7f8fa;
      border-bottom-color: var(--color-secondary);
      border-radius: 50%;
      animation: spinCollectionLoader 0.5s linear infinite; }
  /* line 96, _elements.collection.scss */
  .collection__empty {
    position: relative; }
    /* line 98, _elements.collection.scss */
    .collection__empty .collection__loader {
      top: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8); }
  /* line 104, _elements.collection.scss */
  .collection__short-filters {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    transition: opacity 0.2s ease; }
    @media (max-width: 1024px) {
      /* line 104, _elements.collection.scss */
      .collection__short-filters {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: auto hidden;
        padding: 0 10px;
        margin: 0 -10px;
        scrollbar-width: none;
        -ms-overflow-style: none; } }
    /* line 118, _elements.collection.scss */
    .collection__short-filters::-webkit-scrollbar {
      display: none;
      width: 0 !important; }
    /* line 122, _elements.collection.scss */
    .collection__short-filters.is-empty {
      margin: -20px 0 0; }
    /* line 125, _elements.collection.scss */
    .collection__short-filters.is-disabled {
      user-select: none;
      pointer-events: none;
      opacity: 0.4; }
    @media (min-width: 1025px) {
      /* line 130, _elements.collection.scss */
      .collection__short-filters-content {
        display: none; } }
    /* line 135, _elements.collection.scss */
    .collection__short-filters .button {
      gap: 8px; }
      /* line 137, _elements.collection.scss */
      .collection__short-filters .button .svg-icon {
        height: 20px;
        width: 20px;
        min-width: auto;
        border-radius: 50px;
        background-color: var(--bg-grey);
        color: var(--color-grey-l);
        padding: 3px;
        margin-right: -6px; }
      @media (min-width: 1025px) {
        /* line 147, _elements.collection.scss */
        .collection__short-filters .button[data-filter-reset] {
          display: none; } }

/* line 158, _elements.collection.scss */
.in-progress .collection__products .products-grid {
  user-select: none;
  pointer-events: none;
  opacity: 0.2; }
/* line 164, _elements.collection.scss */
.in-progress .collection__loader {
  opacity: 1; }

@keyframes spinCollectionLoader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* line 177, _elements.collection.scss */
[data-ajax-collection-reload="description"] {
  margin-bottom: -20px; }
  /* line 179, _elements.collection.scss */
  [data-ajax-collection-reload="description"] .collection__text {
    margin-bottom: 20px; }

/* line 183, _elements.collection.scss */
[data-ajax-collection-reload="products"] {
  margin-top: -20px; }
  /* line 185, _elements.collection.scss */
  [data-ajax-collection-reload="products"] > :first-child {
    margin-top: 20px; }

/* line 189, _elements.collection.scss */
[data-ajax-collection-reload="seo_description"] {
  margin-top: -20px; }
  /* line 191, _elements.collection.scss */
  [data-ajax-collection-reload="seo_description"] .collection__text {
    margin-top: 40px; }

/* line 4, _elements.subcollections.scss */
.subcollections-scroll .swiper-slide {
  height: auto; }
/* line 8, _elements.subcollections.scss */
.subcollections-scroll__item {
  height: 100%; }
  /* line 10, _elements.subcollections.scss */
  .subcollections-scroll__item .collection-card {
    height: 100%;
    border: 1px solid var(--border-grey);
    border-radius: var(--radius); }
    @media (hover: none) {
      /* line 10, _elements.subcollections.scss */
      .subcollections-scroll__item .collection-card {
        -webkit-tap-highlight-color: transparent; } }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 25, _mixins.scss */
      .subcollections-scroll__item .collection-card:hover {
        border-color: var(--color-primary); } }
/* line 20, _elements.subcollections.scss */
.subcollections-grid {
  --subcollections-items: 5;
  display: grid;
  grid-template-columns: repeat(var(--subcollections-items), 1fr);
  gap: 20px; }
  @media (max-width: 1199px) {
    /* line 20, _elements.subcollections.scss */
    .subcollections-grid {
      grid-template-columns: repeat(4, 1fr); } }
  @media (max-width: 1024px) {
    /* line 20, _elements.subcollections.scss */
    .subcollections-grid {
      grid-template-columns: repeat(4, 1fr); } }
  @media (max-width: 767px) {
    /* line 20, _elements.subcollections.scss */
    .subcollections-grid {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 575px) {
    /* line 20, _elements.subcollections.scss */
    .subcollections-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px; } }
  /* line 38, _elements.subcollections.scss */
  .subcollections-grid__item {
    border-radius: var(--radius);
    box-shadow: var(--shadow-s);
    overflow: hidden; }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 38, _elements.subcollections.scss */
      .subcollections-grid__item {
        transition: box-shadow 0.4s ease; } }
    @media (hover: none) {
      /* line 38, _elements.subcollections.scss */
      .subcollections-grid__item {
        -webkit-tap-highlight-color: transparent; } }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 25, _mixins.scss */
      .subcollections-grid__item:hover {
        box-shadow: var(--shadow); } }
  /* line 49, _elements.subcollections.scss */
  .subcollections-grid.is-compact {
    grid-template-columns: repeat(calc(var(--subcollections-items) - 1), 1fr); }
    @media (max-width: 1199px) {
      /* line 49, _elements.subcollections.scss */
      .subcollections-grid.is-compact {
        grid-template-columns: repeat(4, 1fr); } }
    @media (max-width: 1024px) {
      /* line 49, _elements.subcollections.scss */
      .subcollections-grid.is-compact {
        grid-template-columns: repeat(3, 1fr); } }
    @media (max-width: 767px) {
      /* line 49, _elements.subcollections.scss */
      .subcollections-grid.is-compact {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; } }
    @media (max-width: 575px) {
      /* line 49, _elements.subcollections.scss */
      .subcollections-grid.is-compact {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; } }
    @media (max-width: 375px) {
      /* line 49, _elements.subcollections.scss */
      .subcollections-grid.is-compact {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; } }

/* line 1, _elements.paginate.scss */
.paginate {
  display: grid;
  grid-template-columns: repeat(3, min-content) 1fr min-content;
  grid-template-areas: "paginate-previous paginate-pages paginate-next . paginate-select";
  gap: 0; }
  @media (max-width: 767px) {
    /* line 1, _elements.paginate.scss */
    .paginate {
      grid-template-columns: repeat(2, min-content);
      grid-template-areas: "paginate-pages paginate-pages" "paginate-previous paginate-next";
      gap: 10px 0;
      justify-content: center; } }
  /* line 12, _elements.paginate.scss */
  .paginate__previous {
    grid-area: paginate-previous; }
    /* line 14, _elements.paginate.scss */
    .paginate__previous .paginate__item {
      margin-right: 5px;
      float: right; }
  /* line 19, _elements.paginate.scss */
  .paginate__next {
    grid-area: paginate-next; }
    /* line 21, _elements.paginate.scss */
    .paginate__next .paginate__item {
      margin-left: 5px;
      float: left; }
  /* line 26, _elements.paginate.scss */
  .paginate__pages {
    display: flex;
    justify-content: center;
    grid-area: paginate-pages;
    gap: 5px; }
    @media (max-width: 374px) {
      /* line 26, _elements.paginate.scss */
      .paginate__pages {
        gap: 3px; } }
  /* line 35, _elements.paginate.scss */
  .paginate__select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-area: paginate-select; }
    @media (max-width: 767px) {
      /* line 35, _elements.paginate.scss */
      .paginate__select {
        display: none; } }
  /* line 45, _elements.paginate.scss */
  .paginate__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 10px;
    min-width: 34px;
    height: 34px;
    background-color: transparent;
    border-radius: var(--radius); }
    @media (max-width: 374px) {
      /* line 45, _elements.paginate.scss */
      .paginate__item {
        min-width: 30px;
        height: 30px; } }
    @media (hover: none) {
      /* line 45, _elements.paginate.scss */
      .paginate__item {
        -webkit-tap-highlight-color: transparent; } }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 25, _mixins.scss */
      .paginate__item:hover {
        background-color: var(--bg-grey);
        color: var(--color-black); } }
    @media (min-width: 768px) {
      /* line 63, _elements.paginate.scss */
      .paginate__item.is-disabled {
        display: none; } }
    /* line 68, _elements.paginate.scss */
    .paginate__item.is-disabled, .paginate__item.is-void {
      background-color: transparent;
      color: var(--color-grey-l);
      cursor: default; }
    /* line 73, _elements.paginate.scss */
    .paginate__item.is-current {
      background-color: var(--color-secondary);
      color: var(--color-white); }
    /* line 77, _elements.paginate.scss */
    .paginate__item.is-next, .paginate__item.is-previous {
      background-color: var(--bg-grey); }
      @media (hover: none) {
        /* line 77, _elements.paginate.scss */
        .paginate__item.is-next, .paginate__item.is-previous {
          -webkit-tap-highlight-color: transparent; } }
      @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* line 25, _mixins.scss */
        .paginate__item.is-next:hover, .paginate__item.is-previous:hover {
          background-color: var(--bg-grey-d); } }

/* line 1, _elements.sidebar-menu.scss */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 3px; }
  /* line 5, _elements.sidebar-menu.scss */
  .sidebar-menu a {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    border-radius: var(--radius); }
    /* line 10, _elements.sidebar-menu.scss */
    .sidebar-menu a.is-active {
      background: var(--bg-grey);
      font-weight: var(--font-bold); }
    /* line 14, _elements.sidebar-menu.scss */
    .sidebar-menu a.is-parent {
      display: inline-flex;
      gap: 8px;
      align-items: center;
      padding-left: 5px; }
  /* line 21, _elements.sidebar-menu.scss */
  .sidebar-menu__submenu {
    margin: 3px 0 0 10px; }

/* line 1, _elements.sidebar-banner.scss */
.sidebar-banner {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  /* line 5, _elements.sidebar-banner.scss */
  .sidebar-banner__image {
    position: relative;
    border-radius: var(--radius);
    overflow: hidden; }
    /* line 9, _elements.sidebar-banner.scss */
    .sidebar-banner__image .thumb {
      --radius: 0; }
  /* line 13, _elements.sidebar-banner.scss */
  .sidebar-banner__link {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 21, _elements.sidebar-banner.scss */
      .sidebar-banner__link ~ .thumb img {
        will-change: transform;
        transition: filter 0.6s ease, transform 0.6s ease; } }
    @media (hover: none) {
      /* line 13, _elements.sidebar-banner.scss */
      .sidebar-banner__link {
        -webkit-tap-highlight-color: transparent; } }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 30, _elements.sidebar-banner.scss */
      .sidebar-banner__link:hover ~ .thumb img {
        filter: brightness(80%);
        transform: scale(1.02); } }

/* line 1, _elements.collection-nav.scss */
.collection-nav {
  font-size: 14px;
  line-height: 20px; }
  /* line 3, _elements.collection-nav.scss */
  .collection-nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 10, _elements.collection-nav.scss */
    .collection-nav ul ul {
      display: none;
      padding: 5px 0 0 10px; }
  /* line 15, _elements.collection-nav.scss */
  .collection-nav li {
    display: block;
    margin: 0;
    padding: 0; }
  /* line 20, _elements.collection-nav.scss */
  .collection-nav a {
    display: flex;
    justify-content: space-between;
    padding: 2px 0; }
    /* line 24, _elements.collection-nav.scss */
    .collection-nav a > span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      transition: transform 0.2s ease; }
  /* line 34, _elements.collection-nav.scss */
  .collection-nav .is-active > a {
    color: var(--color-primary);
    font-weight: var(--font-bold); }
  /* line 40, _elements.collection-nav.scss */
  .collection-nav .is-open > ul {
    display: flex; }
  /* line 44, _elements.collection-nav.scss */
  .collection-nav .is-open > a > span {
    transform: rotate(90deg); }

/* line 1, _elements.filter.scss */
.filter {
  position: relative;
  background-color: var(--bg-white);
  box-shadow: var(--shadow-s);
  border-radius: var(--radius); }
  /* line 9, _elements.filter.scss */
  .filter__form.is-filtered .filter__items {
    margin: 0 0 -151px; }
  /* line 12, _elements.filter.scss */
  .filter__form.is-filtered .filter__footer {
    display: block; }
  /* line 22, _elements.filter.scss */
  .filter__form.is-init .filter__item.is-open .filter-item__header[class*="js-"] {
    background-color: var(--bg-grey); }
  /* line 26, _elements.filter.scss */
  .filter__form.is-init .filter__item.is-open .filter-item__toggle {
    transform: rotate(90deg); }
  /* line 29, _elements.filter.scss */
  .filter__form.is-init .filter__item.is-open .filter-item__values {
    display: flex;
    flex-direction: column;
    gap: 8px; }
  /* line 37, _elements.filter.scss */
  .filter__form.is-init .filter__item.is-active .filter-item__header::before {
    opacity: 1; }
  /* line 46, _elements.filter.scss */
  .filter__header {
    display: none; }
  /* line 49, _elements.filter.scss */
  .filter__items {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 3px; }
  /* line 56, _elements.filter.scss */
  .filter__item.is-reset {
    display: none; }
  /* line 61, _elements.filter.scss */
  .filter__item.is-disabled .filter-item__header {
    color: var(--color-grey-l); }
  /* line 67, _elements.filter.scss */
  .filter__footer {
    display: none;
    position: sticky;
    z-index: 5;
    bottom: 0;
    background-color: var(--bg-white);
    margin: 151px 0 0;
    padding: 20px;
    border-top: 1px solid var(--border-grey);
    border-radius: 0 0 var(--radius) var(--radius);
    text-align: center; }
    /* line 78, _elements.filter.scss */
    .filter__footer .button {
      margin: 0 auto; }
      /* line 80, _elements.filter.scss */
      .filter__footer .button[data-filter-submit] {
        width: 100%;
        font-variant-numeric: tabular-nums; }
      /* line 84, _elements.filter.scss */
      .filter__footer .button[data-filter-reset] {
        margin-top: 10px;
        --button-color: var(--color-red); }

/* line 93, _elements.filter.scss */
.filter-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  user-select: none;
  position: relative;
  padding: 5px 10px;
  margin: 0 -10px; }
  /* line 102, _elements.filter.scss */
  .filter-item__header[class*="js-"] {
    border-radius: var(--radius);
    cursor: pointer;
    flex: 1;
    transition: background 0.4s ease; }
    @media (hover: none) {
      /* line 102, _elements.filter.scss */
      .filter-item__header[class*="js-"] {
        -webkit-tap-highlight-color: transparent; } }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 25, _mixins.scss */
      .filter-item__header[class*="js-"]:hover {
        background-color: var(--bg-grey); } }
  /* line 111, _elements.filter.scss */
  .filter-item__header::before {
    content: '';
    position: absolute;
    left: -3px;
    top: 50%;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    opacity: 0;
    transition: opacity 0.4s ease; }
/* line 125, _elements.filter.scss */
.filter-item__title {
  font-weight: var(--font-bold);
  flex: 1; }
/* line 129, _elements.filter.scss */
.filter-item__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease; }
/* line 138, _elements.filter.scss */
.filter-item__content-header {
  display: none; }
/* line 142, _elements.filter.scss */
.filter-item__reset {
  display: none; }
/* line 145, _elements.filter.scss */
.filter-item__values {
  display: none;
  margin: 8px 0; }
  /* line 148, _elements.filter.scss */
  .filter-item__values.is-scroll {
    max-height: 270px;
    overflow: hidden auto;
    padding: 8px 10px;
    margin: 0 -10px 8px;
    border-bottom: 1px solid var(--border-grey); }
/* line 156, _elements.filter.scss */
.filter-item__value {
  position: relative; }
/* line 159, _elements.filter.scss */
.filter-item__range {
  margin: 0 0 8px; }
  /* line 162, _elements.filter.scss */
  .filter-item__range .form-element__range {
    margin: 15px 0 0; }
/* line 167, _elements.filter.scss */
.filter-item__info {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center; }
  /* line 174, _elements.filter.scss */
  .filter-item__info div {
    display: none; }

/* line 179, _elements.filter.scss */
.noUi-target {
  height: 4px;
  border: 0;
  background-color: var(--bg-grey);
  box-shadow: none;
  border-radius: var(--radius); }
  /* line 186, _elements.filter.scss */
  .noUi-target .noUi-connect {
    background-color: var(--color-secondary); }
  /* line 189, _elements.filter.scss */
  .noUi-target .noUi-handle {
    top: 50%;
    right: -10px;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    border: 0;
    border-radius: 50%;
    box-shadow: var(--shadow-s); }
    /* line 198, _elements.filter.scss */
    .noUi-target .noUi-handle::before, .noUi-target .noUi-handle::after {
      display: none; }
    /* line 201, _elements.filter.scss */
    .noUi-target .noUi-handle:focus {
      outline: none; }
  /* line 206, _elements.filter.scss */
  .noUi-target .noUi-pips-horizontal {
    padding: 0; }
  /* line 211, _elements.filter.scss */
  .noUi-target .noUi-touch-area {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    /* line 216, _elements.filter.scss */
    .noUi-target .noUi-touch-area::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-secondary); }
  /* line 228, _elements.filter.scss */
  .noUi-target[disabled] .noUi-connect {
    background-color: var(--bg-grey-alt); }
  /* line 232, _elements.filter.scss */
  .noUi-target[disabled] .noUi-touch-area {
    cursor: default; }
    /* line 234, _elements.filter.scss */
    .noUi-target[disabled] .noUi-touch-area::before {
      background-color: var(--bg-grey-alt); }

@media (max-width: 1024px) {
  /* line 243, _elements.filter.scss */
  .filter {
    position: fixed;
    z-index: calc(var(--z-front) + 100);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease; }
    /* line 255, _elements.filter.scss */
    .filter.is-open {
      opacity: 1;
      visibility: visible; }
      /* line 259, _elements.filter.scss */
      .filter.is-open .filter__form {
        transform: translateX(0); }
    /* line 264, _elements.filter.scss */
    .filter__shade {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--bg-black);
      opacity: 0.6; }
    /* line 274, _elements.filter.scss */
    .filter__form {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      max-width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--bg-white);
      transform: translateX(100%);
      transition: transform 0.2s ease; }
      /* line 289, _elements.filter.scss */
      .filter__form.is-filtered .filter__header [data-filter-reset] {
        display: flex; }
    /* line 296, _elements.filter.scss */
    .filter__header {
      font-size: 14px;
      line-height: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      background-color: var(--bg-grey);
      font-weight: var(--font-bold);
      height: 50px; }
      /* line 306, _elements.filter.scss */
      .filter__header [data-filter-reset] {
        display: none; }
    /* line 310, _elements.filter.scss */
    .filter__items {
      flex: 1;
      overflow: hidden auto;
      margin: 0 !important;
      gap: 0;
      padding: 0px 20px; }
    /* line 317, _elements.filter.scss */
    .filter__footer {
      position: static;
      border-radius: 0;
      margin: 0;
      display: block; }
      /* line 322, _elements.filter.scss */
      .filter__footer [data-filter-reset] {
        display: none; }

  /* line 328, _elements.filter.scss */
  .filter-item__header {
    background-color: transparent !important;
    transition: none !important;
    padding: 10px 20px;
    margin: 0 -20px;
    border-top: 1px solid var(--border-grey); }
    /* line 334, _elements.filter.scss */
    .filter-item__header::before {
      left: 7px; }
  /* line 339, _elements.filter.scss */
  .filter-item:first-child .filter-item__header {
    border: none; }
  /* line 343, _elements.filter.scss */
  .filter-item__title {
    font-weight: 400; }
  /* line 346, _elements.filter.scss */
  .filter-item__content {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 75px);
    background-color: var(--bg-white);
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease; }
    /* line 361, _elements.filter.scss */
    .filter-item__content-header {
      font-size: 14px;
      line-height: 20px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 20px;
      background-color: var(--bg-grey);
      font-weight: var(--font-bold);
      height: 50px; }
    /* line 371, _elements.filter.scss */
    .filter-item__content-back {
      width: 50px;
      height: 50px;
      background: transparent;
      color: var(--color-black);
      border: none;
      margin: 0 0 0 -20px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 0px;
      flex: 1 0 50px;
      max-width: 50px; }
    /* line 386, _elements.filter.scss */
    .filter-item__content-title {
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size: 14px;
      line-height: 16px;
      max-height: calc(2 * 16px);
      overflow-wrap: anywhere; }
    /* line 396, _elements.filter.scss */
    .filter-item__content-buttons {
      padding: 0 0 0 10px;
      margin: 0 0 0 auto;
      white-space: nowrap; }
      /* line 400, _elements.filter.scss */
      .filter-item__content-buttons [data-filter-reset_item] {
        display: none; }
      /* line 403, _elements.filter.scss */
      .filter-item__content-buttons [data-filter-select_all] {
        display: flex; }
  /* line 408, _elements.filter.scss */
  .filter-item__values {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
    flex-grow: 1 !important;
    overflow: hidden auto !important;
    margin: 0 !important;
    padding: 20px !important;
    max-height: none !important;
    border: none !important; }
  /* line 419, _elements.filter.scss */
  .filter-item__toggle {
    transform: none !important;
    margin: 0 -7px 0 0; }
  /* line 427, _elements.filter.scss */
  .filter-item.is-active .filter-item__content-buttons [data-filter-reset_item] {
    display: flex; }
  /* line 430, _elements.filter.scss */
  .filter-item.is-active .filter-item__content-buttons [data-filter-select_all] {
    display: none; }
  /* line 439, _elements.filter.scss */
  .filter-item.is-inline-open .filter-item__content {
    transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  /* line 450, _elements.filter.scss */
  .filter-item.is-disabled .filter-item__content-buttons [data-filter-select_all] {
    display: none !important; }
  /* line 461, _elements.filter.scss */
  .filter-item:has(.filter-item__range) .filter-item__content-buttons [data-filter-select_all] {
    display: none !important; }

  /* line 469, _elements.filter.scss */
  .collection__filter {
    margin: 0 0 -20px; } }
@media (min-width: 1025px) {
  /* line 479, _elements.filter.scss */
  .collection__sidebar .filter__item.is-price .filter-item__header {
    background-color: transparent !important;
    cursor: default; }
  /* line 483, _elements.filter.scss */
  .collection__sidebar .filter__item.is-price .filter-item__toggle {
    display: none; }
  /* line 486, _elements.filter.scss */
  .collection__sidebar .filter__item.is-price .filter-item__values {
    display: flex; }

  /* line 495, _elements.filter.scss */
  .collection__filter .filter {
    box-shadow: none;
    border-radius: 0; }
    /* line 501, _elements.filter.scss */
    .collection__filter .filter__form.is-filtered .filter-item.is-reset {
      display: flex; }
    /* line 507, _elements.filter.scss */
    .collection__filter .filter__items {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 5px;
      padding: 0;
      margin: 0 !important; }
    /* line 517, _elements.filter.scss */
    .collection__filter .filter__item.is-reset [data-filter-reset] {
      --button-padding-x: 10px;
      --button-height: 28px;
      --button-color: var(--color-red); }
    /* line 524, _elements.filter.scss */
    .collection__filter .filter__footer {
      display: none !important; }
  /* line 528, _elements.filter.scss */
  .collection__filter .filter-item {
    position: relative; }
    /* line 530, _elements.filter.scss */
    .collection__filter .filter-item__header {
      cursor: pointer;
      border-radius: var(--radius);
      margin: 0;
      background-color: var(--bg-grey);
      transition: background 0.4s ease, color 0.4s ease; }
      /* line 536, _elements.filter.scss */
      .collection__filter .filter-item__header::before {
        display: none; }
      /* line 539, _elements.filter.scss */
      .collection__filter .filter-item__header .form-element__toggle {
        margin: -1px -6px -1px 0; }
        /* line 541, _elements.filter.scss */
        .collection__filter .filter-item__header .form-element__toggle label {
          background-color: var(--bg-white); }
    /* line 546, _elements.filter.scss */
    .collection__filter .filter-item__title {
      font-weight: var(--font-normal); }
    /* line 549, _elements.filter.scss */
    .collection__filter .filter-item__toggle {
      font-size: 10px;
      width: 10px;
      height: 10px;
      transform: rotate(90deg); }
    /* line 555, _elements.filter.scss */
    .collection__filter .filter-item__reset {
      width: 28px;
      height: 28px;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      margin: -5px -10px -5px 5px;
      border-radius: 0 var(--radius) var(--radius) 0; }
    /* line 564, _elements.filter.scss */
    .collection__filter .filter-item__content {
      width: 240px;
      position: absolute;
      left: 0;
      top: calc(100% + 3px);
      z-index: var(--z-front);
      background-color: var(--bg-white);
      box-shadow: var(--shadow);
      border-radius: var(--radius);
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px); } }
    @media (min-width: 1025px) and (hover: hover), all and (min-width: 1025px) and (-ms-high-contrast: none), (min-width: 1025px) and (-ms-high-contrast: active) {
      /* line 564, _elements.filter.scss */
      .collection__filter .filter-item__content {
        transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease; } }
@media (min-width: 1025px) {
      /* line 579, _elements.filter.scss */
      .collection__filter .filter-item__content::before, .collection__filter .filter-item__content::after {
        content: '';
        position: absolute;
        left: 13px;
        border: 5px solid transparent; }
      /* line 585, _elements.filter.scss */
      .collection__filter .filter-item__content::before {
        z-index: 2;
        top: -10px;
        border-bottom-color: var(--bg-white); }
      /* line 590, _elements.filter.scss */
      .collection__filter .filter-item__content::after {
        z-index: 1;
        top: -11px;
        border-bottom-color: var(--bg-grey-d); }
    /* line 596, _elements.filter.scss */
    .collection__filter .filter-item__values {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 10px;
      margin: 0; }
      /* line 602, _elements.filter.scss */
      .collection__filter .filter-item__values.is-scroll {
        margin: 0;
        border: none; }
    /* line 607, _elements.filter.scss */
    .collection__filter .filter-item__range {
      margin: 0 2px 3px; }
      /* line 609, _elements.filter.scss */
      .collection__filter .filter-item__range .form-element__range {
        margin: 15px 10px 0; }
    /* line 615, _elements.filter.scss */
    .collection__filter .filter-item.is-inline-open .filter-item__header {
      background-color: var(--bg-grey-d) !important; }
    /* line 618, _elements.filter.scss */
    .collection__filter .filter-item.is-inline-open .filter-item__toggle {
      transform: rotate(-90deg) !important; }
    /* line 621, _elements.filter.scss */
    .collection__filter .filter-item.is-inline-open .filter-item__content {
      opacity: 1;
      visibility: visible;
      transform: translateY(0); }
    /* line 630, _elements.filter.scss */
    .collection__filter .filter-item.is-active .filter-item__header {
      color: var(--color-white);
      background-color: var(--color-secondary) !important; }
    /* line 634, _elements.filter.scss */
    .collection__filter .filter-item.is-active .filter-item__reset {
      display: flex; } }
/* line 2, _elements.articles.scss */
.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }
  @media (max-width: 1024px) {
    /* line 2, _elements.articles.scss */
    .articles-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 575px) {
    /* line 2, _elements.articles.scss */
    .articles-grid {
      grid-template-columns: repeat(1, 1fr); } }
  /* line 12, _elements.articles.scss */
  .articles-grid__item {
    border-radius: var(--radius);
    box-shadow: var(--shadow-s);
    overflow: hidden; }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 12, _elements.articles.scss */
      .articles-grid__item {
        transition: box-shadow 0.4s ease; } }
    @media (hover: none) {
      /* line 12, _elements.articles.scss */
      .articles-grid__item {
        -webkit-tap-highlight-color: transparent; } }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 25, _mixins.scss */
      .articles-grid__item:hover {
        box-shadow: var(--shadow); } }
/* line 24, _elements.articles.scss */
.articles-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; }
  /* line 28, _elements.articles.scss */
  .articles-sidebar__item {
    border-radius: var(--radius);
    box-shadow: var(--shadow-s);
    overflow: hidden; }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 28, _elements.articles.scss */
      .articles-sidebar__item {
        transition: box-shadow 0.4s ease; } }
    @media (hover: none) {
      /* line 28, _elements.articles.scss */
      .articles-sidebar__item {
        -webkit-tap-highlight-color: transparent; } }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 25, _mixins.scss */
      .articles-sidebar__item:hover {
        box-shadow: var(--shadow); } }

@media (min-width: 1025px) {
  /* line 46, _elements.articles.scss */
  .widget-articles .articles-grid__item:nth-child(4) {
    display: none; } }
@media (max-width: 575px) {
  /* line 46, _elements.articles.scss */
  .widget-articles .articles-grid__item:nth-child(4) {
    display: none; } }

/* line 1, _elements.article-card.scss */
.article-card {
  --article-card-title-clamp: 3;
  display: block; }
  /* line 4, _elements.article-card.scss */
  .article-card__image {
    position: relative; }
    /* line 6, _elements.article-card.scss */
    .article-card__image .thumb {
      border-radius: var(--radius) var(--radius) 0 0;
      background-color: var(--bg-grey); }
    /* line 10, _elements.article-card.scss */
    .article-card__image .labels {
      position: absolute;
      left: 5px;
      top: 5px; }
  /* line 16, _elements.article-card.scss */
  .article-card__timer {
    top: auto !important;
    bottom: 5px; }
  /* line 20, _elements.article-card.scss */
  .article-card__data {
    padding: 15px 20px; }
    @media (max-width: 575px) {
      /* line 20, _elements.article-card.scss */
      .article-card__data {
        padding: 10px 15px; } }
  /* line 26, _elements.article-card.scss */
  .article-card__title {
    font-size: 18px;
    line-height: 22px; }
  /* line 29, _elements.article-card.scss */
  .article-card__preview {
    font-size: 14px;
    line-height: 18px;
    color: var(--color-grey-l);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--article-card-title-clamp);
    max-height: calc(var(--article-card-title-clamp) * 18px);
    margin-top: 4px; }
  /* line 40, _elements.article-card.scss */
  .article-card__author {
    color: #000; }
  /* line 43, _elements.article-card.scss */
  .article-card__comments {
    color: #000; }

/* line 49, _elements.article-card.scss */
.articles-sidebar .article-card__data {
  padding: 10px 15px; }
/* line 52, _elements.article-card.scss */
.articles-sidebar .article-card__title {
  font-size: 16px;
  line-height: 20px; }

/* line 1, _elements.seo-filters.scss */
.seo-filters {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 14px;
  line-height: 18px; }
  /* line 7, _elements.seo-filters.scss */
  .seo-filters__item {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--border-grey);
    padding: 5px 10px;
    border-radius: var(--radius);
    white-space: nowrap; }
    @media (hover: none) {
      /* line 7, _elements.seo-filters.scss */
      .seo-filters__item {
        -webkit-tap-highlight-color: transparent; } }
    @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* line 25, _mixins.scss */
      .seo-filters__item:hover {
        border-color: currentColor; } }
    /* line 18, _elements.seo-filters.scss */
    .seo-filters__item.is-active {
      color: var(--color-primary);
      border-color: currentColor;
      display: flex !important; }
    /* line 23, _elements.seo-filters.scss */
    .seo-filters__item.is-toggle {
      border-color: transparent;
      background: var(--bg-grey);
      cursor: pointer;
      justify-content: center;
      padding: 0;
      width: 30px;
      height: 30px;
      font-size: 14px;
      line-height: 0px; }
      /* line 32, _elements.seo-filters.scss */
      .seo-filters__item.is-toggle.is-hidden {
        display: none !important; }
    /* line 36, _elements.seo-filters.scss */
    .seo-filters__item.is-hidden {
      display: none; }
  /* line 40, _elements.seo-filters.scss */
  .seo-filters.is-overflow {
    height: 30px;
    overflow: hidden; }
  /* line 47, _elements.seo-filters.scss */
  .seo-filters.is-open .seo-filters__item.is-hidden {
    display: block; }
  /* line 51, _elements.seo-filters.scss */
  .seo-filters.is-open .seo-filters__item.is-toggle .svg-icon {
    transform: rotate(180deg); }
